[submodule "Modulo1Java/Challenges"]
	path = Modulo1Java/Challenges
	url = https://github.com/cberdejo/ChallengesJavaPOO
[submodule "Modulo16Lab/Fibonacci/proyectoFibonacciFork"]
    path = Modulo16Lab/Fibonacci/proyectoFibonacciFork
    url = https://github.com/cberdejo/proyectoFibonacciFork

[submodule "Modulo16Lab/Fibonacci/proyectoFibonacci"]
    path = Modulo16Lab/Fibonacci/proyectoFibonacci
    url = https://github.com/cberdejo/Proyecto-Fibonacci
    
[submodule "Modulo16Lab/ConectionBD/"]
	path = Modulo16Lab/ConectionBD/
	url = https://github.com/cberdejo/OracleSqlConnectionExample

    
[submodule "Modulo16Lab/Cli-Crud-Music"]
	path = Modulo16Lab/Cli-Crud-Music
	url = https://github.com/cberdejo/Cli-Crud-Music
[submodule "Modulo16Lab/Url-Shortening-app-Fastapi"]
	path = Modulo16Lab/Url-Shortening-app-Fastapi
	url = https://github.com/cberdejo/url_shortening_api
[submodule "Modulo16Lab/project-mgmt-crud"]
	path = Modulo16Lab/project-mgmt-crud
	url = https://github.com/cberdejo/company-s-projects-crud
